<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
      app
    >
      <v-list>
        <v-list-item
          v-for="([icon, text, link], i) in items"
          :key="i"
          :to="link"
          link
        >
          <v-list-item-title> <v-icon>{{ icon }}</v-icon> {{ text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main> 
      <el-tag class="mx-1" @click="drawer = !drawer">页面导航</el-tag>
      <el-tag class="mx-1"> <a href="http://localhost:8080/v1" style="text-decoration: none">flask 项目</a></el-tag>
      <el-tag > <a href="http://localhost:8080" style="text-decoration: none">websocket</a></el-tag>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    data: () => ({ 
      drawer: null,
      items: [
        ['mdi-wallpaper', 'basic component', '/home'],
        ['mdi-trending-up', 'table display', '/td'],
        ['mdi-format-list-bulleted', 'topic summary', '/ts'],
        ['mdi-comment', 'topic comments', '/tc/topic_id'],
        ['mdi-airballoon', 'job list', '/tc/job_list'],
      ], 
    })
  }
</script>