<template>
    <el-tabs>
      <el-tab-pane label="Timeline">
        <TimeLine/>
      </el-tab-pane>
      <el-tab-pane label="Timeline2">
        <TimeLine2/>
      </el-tab-pane>
      <el-tab-pane label="Drawer" >
        <Drawer/>
      </el-tab-pane>
      <el-tab-pane label="Menu">
        <Menu/>
      </el-tab-pane>
    </el-tabs>
</template>

<script>
import { defineComponent } from 'vue';
import Drawer from '../components/Drawer.vue';
import Menu from '../components/Menu.vue';
import TimeLine2 from '../components/TimeLine2.vue';
import TimeLine from '../components/TimeLine.vue';

export default defineComponent({
  name: 'HomeView',
  components: {
    Drawer,
    Menu,
    TimeLine,
    TimeLine2
  },
  data(){
    return {
    }
  }
});
</script>
