<template>
    <v-list three-line tag="p" v-for="item in topics">
      <v-list-item>
        <v-list-item-content>
            <v-list-item-title>
                <a :href="item.link" :style="{color:`#072`}">
                    {{item.link}}
                </a>
            </v-list-item-title>
            <v-list-item-subtitle> {{item.ts}} </v-list-item-subtitle>
            <!-- <div v-html="item.description"></div> -->
            <div class="multiline" >
                {{item.description}}
            </div>
        </v-list-item-content>

      <v-divider inset></v-divider>
      </v-list-item>
    </v-list>

</template>

<script>
    import axios from 'axios';
    export default {
        components: {
        },
        data() {
            return {
            topics: null,
        }
        },
        methods: {
        },
        async mounted() {
            await axios.get("http://localhost:8080/topic/jobs_from_remoteok")
                .then((response) => {
                    let data = response.data;
                    this.topics = data;
                    console.log(this.topics);
                })
        }
    }
</script>

<style>
.multiline{
   white-space: pre-wrap;
}

element.style {
    display: inline-block;
}
</style>
