<template>
  <el-descriptions title="Customized style list" :column="3" border>
    <el-descriptions-item
      label="Username"
      label-align="right"
      align="center"
      label-class-name="my-label"
      class-name="my-content"
      width="150px"
      >kooriookami</el-descriptions-item
    >
    <el-descriptions-item label="Telephone" label-align="right" align="center"
      >18100000000</el-descriptions-item
    >
    <el-descriptions-item label="Place" label-align="right" align="center"
      >Suzhou</el-descriptions-item
    >
    <el-descriptions-item label="Remarks" label-align="right" align="center">
      <el-tag size="small">School</el-tag>
    </el-descriptions-item>
    <el-descriptions-item label="Address" label-align="right" align="center"
      >No.1188, Wuzhong Avenue, Wuzhong District, Suzhou, Jiangsu
      Province</el-descriptions-item
    >
  </el-descriptions>

  <Table v-bind:comments=comments v-bind:columns=columns></Table>
</template>

<script>
  import axios from 'axios';
  import Table from '../components/Table.vue';

  export default {
      components: {
          Table
        },
      data() {
          return { comments: null,
            columns: [
              {
                label: "用户名",
                field: "reply_name",
              },
              {
                label: "回复内容",
                field: "reply_content",
              },
              {
                label: "回复时间",
                field: "reply_time"
              },
              {
                label: "豆瓣id",
                field: "reply_id"
              }
            ],
            rows: null,
            topic_id: null,
        }
      },
      methods: {
        async get_topic(){
          await axios.get(`http://localhost:8080/topic/comments?topic_id=${this.topic_id}`)
            .then((response) => {
              let comments = response.data;
              comments.forEach((com)=>{com.reply_id = com.reply_id.split("/").slice(-2,-1)[0]});
              this.comments = comments;
            })
            .catch((error) => {
              console.log(error);
            });
        },
        onRowClick(params){
          console.log(params);
        }
      },
      async mounted() {
          await axios.get("http://localhost:8080/topic/main")
                .then((response) => {
                    this.topic_id = response.data[0].topic_id;
                })
          await this.get_topic()
        }
  }
</script>


<style scoped>
.my-label {
  background: var(--el-color-success-light-9);
}
.my-content {
  background: var(--el-color-danger-light-9);
}
</style>