<template>
    <Pagnation v-bind:total=total>
    </Pagnation>
</template>

<script>
import { defineComponent } from 'vue';
import Pagnation from '../components/Pagnation.vue';
import axios from 'axios';

export default defineComponent({
  components: {
    Pagnation,
  },
  data(){
    return {
      total: null
    }
  },
  async mounted() {
      var get_current_url = window.location.pathname;
      this.topic_id = get_current_url.slice(4);
      console.log('🍅',this.topic_id);
      await axios.get(`http://localhost:8080/topic/comments/len?topic_id=${this.topic_id}`)
          .then((response) => {
              this.total = response.data;
          })
      await this.handlePageChange(currentPage);

    }
});
</script>
