<template>
    <v-list three-line tag="p" v-for="item in topics">
      <v-list-item :to="`/tc/${item.topic_id}`">
        <v-list-item-content>
            <v-list-item-title>
                <a :href="item.author_id" :style="{color:`#072`}">
                    {{item.author_name}}
                </a>
                评论
            </v-list-item-title>
            <v-list-item-subtitle> {{item.published_time}} </v-list-item-subtitle>
            <div class="multiline">{{item.title}}</div>
        </v-list-item-content>

      <v-divider inset></v-divider>
      </v-list-item>
    </v-list>

</template>

<script>
    import axios from 'axios';
    export default {
        components: {
        },
        data() {
            return {
            topics: null,
        }
        },
        methods: {
        },
        async mounted() {
            await axios.get("http://localhost:8080/topic/main")
                .then((response) => {
                    this.topics = response.data;
                })
        }
    }
</script>

<style>
.multiline{
   white-space: pre-wrap;
}

element.style {
    display: inline-block;
}
</style>
