<template>
    <el-card class="box-card">
      <template #header>
        <div class="card-header">

          <span>话题介绍</span>
          <el-button class="button" text>Operation button</el-button>
        </div>
      </template>

      <ul v-infinite-scroll="load" class="infinite-list" style="overflow: auto">
          <li v-for="(value, key, index) in myObject" :key="key">
              {{ index }}. {{ key }}: {{ value }}
          </li>
      </ul>

    </el-card>
  <!-- {{ myObject }} -->
</template>

<script>
export default {
    name: 'Card',
    props: ["myObject"]
}
</script>

<style>
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.box-card {
    width: 480px;
}

.infinite-list {
  height: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.infinite-list .infinite-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: var(--el-color-primary-light-9);
  margin: 10px;
  color: var(--el-color-primary);
}
.infinite-list .infinite-list-item + .list-item {
  margin-top: 10px;
}
</style>