<template>
    <el-radio-group v-model="direction">
      <el-radio label="ltr">left to right</el-radio>
      <el-radio label="rtl">right to left</el-radio>
      <el-radio label="ttb">top to bottom</el-radio>
      <el-radio label="btt">bottom to top</el-radio>
    </el-radio-group>
  
    <el-button type="primary" style="margin-left: 16px" @click="drawer = true">
      open
    </el-button>
  
    <el-drawer
      v-model="drawer"
      title="抽屉样例"
      :direction="direction"
    >
      <Form/>
    </el-drawer>

</template>

<script lang="ts" setup>
import { ref } from 'vue'
// import { ElMessageBox } from 'element-plus'
import Form from "./Form.vue"

const drawer = ref(false)
const direction = ref('rtl')
// const handleClose = (done: () => void) => {
//     ElMessageBox.confirm('Are you sure you want to close this?')
//     .then(() => {
//         done()
//     })
//     .catch(() => {
//     })
// }
</script>
  