<template>
  <v-list three-line tag="p" v-for="item in comments">
    <v-list-item>
      <v-list-item-content>
          <v-list-item-title> 
            <a :href="item.reply_id" :style="{color:`#072`}"> {{item.reply_name}} </a> 
          </v-list-item-title>
          <v-list-item-subtitle> {{item.reply_time}} </v-list-item-subtitle>
          <div class="multiline"> {{item.reply_content}} </div>
      </v-list-item-content>

    <v-divider inset></v-divider>
    </v-list-item>
  </v-list>
  <el-pagination
    background
    layout="total, sizes, prev, pager, next, jumper"
    :page-size="tablePage.pageSize"
    :page-sizes="[50, 100]"
    :total="total"
    @size-change="handleSizeChange"
    @current-change="handlePageChange"
  />
</template>

<script>
import axios from 'axios';
export default {
props: ['total', 'topic_id'],
data() {
    return {
      tablePage: {
          pageSize: 50, // 每页多少条
      },
      comments: null,
      topic_id: null,
    }
},
methods: {
  async handlePageChange(currentPage) {
    this.tablePage.pageNum = currentPage;
    await axios.get(`http://localhost:8080/topic/comments?topic_id=${this.topic_id}&page=${currentPage}&page_size=${this.tablePage.pageSize}`)
      .then((response) => {
          let comments = response.data;
          comments.forEach((com)=>{com.reply_id = com.reply_id.split("/").slice(-2,-1)[0]});
          this.comments = comments;
      })
  },
  handleSizeChange(pageSize) {
    this.tablePage.pageSize = pageSize
  },
},
async mounted() {
  var get_current_url = window.location.pathname;
  this.topic_id = get_current_url.slice(4);
  console.log('🐬',this.topic_id);
  await axios.get(`http://localhost:8080/topic/comments?topic_id=${this.topic_id}&page=0&page_size=${this.tablePage.pageSize}`)
      .then((response) => {
          let comments = response.data;
          comments.forEach((com)=>{com.reply_id = com.reply_id.split("/").slice(-2,-1)[0]});
          this.comments = comments;
      })
  await this.handlePageChange(currentPage);
}
}
</script>