<template>
  <div>
    <vue-good-table
      v-if="comments && comments.length"
      :columns="columns"
      :rows="comments"
      max-height="500px"
      :line-numbers="true"
      :search-options="{
        enabled: true,
        placeholder: 'Search this table',
      }"
      :pagination-options="{
        enabled: true
      }"
      v-on:row-click="onRowClick"/>
  </div>
</template>

<style type="text/css" media="screen">
  table{
    border-collapse:collapse;
    border:1px solid hsl(256, 100%, 50%);
  }

  table td{
    border:1px solid hsl(256, 100%, 50%);
  }
</style>

<script>
import 'vue-good-table-next/dist/vue-good-table-next.css';
import { VueGoodTable } from 'vue-good-table-next';
export default {
    name: 'Table',
    components: {
          VueGoodTable,
        },
    props: ['comments', 'columns'],
    methods: {
        onRowClick(params){
          console.log(params);
        }
    }
}
</script>