<template>
    <div>
        <v-timeline
        align-top
        >
            <!-- 一定要读正确版本的文档 -->
            <v-timeline-item
                v-for="(item, i) in items"
                :key="i"
                :dot-color="item.color"
                :icon="item.icon"

            >
                <v-card
                :color="item.color"
                dark
                >
                <v-card-title class="text-h6">
                    Lorem Ipsum Dolor
                </v-card-title>
                <v-card-text class="white text--primary">
                    <p>Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.</p>
                    <v-btn
                    :color="item.color"
                    class="mx-0"
                    outlined
                    >
                    Button
                    </v-btn>
                </v-card-text>
                </v-card>
            </v-timeline-item>
    </v-timeline>
    </div>
</template>

<script>
    export default {
        name : "TL",
        data() {
            return {
                items: [
                    {
                        color: 'red lighten-2',
                        icon: 'mdi-star',
                    },
                    {
                        color: 'purple darken-1',
                        icon: 'mdi-book-variant',
                    },
                    {
                        color: 'green lighten-1',
                        icon: 'mdi-airballoon',
                    },
                    {
                        color: 'indigo',
                        icon: 'mdi-buffer',
                    },
                ]
            }
        }
    }
</script>
