<template>
    <div>
      <h1>Repos</h1>
      <div v-for="r of repos" :key="r.id">
        <h2>{{r.owner.login}}/{{r.name}}</h2>
        <Issues :owner="r.owner.login" :repo="r.name" />
      </div>
    </div>
  </template>
  
  <script>
  import Issues from "./repo/Issues.vue";
  import { octokitMixin } from "../mixins/octokitMixin";
  
  export default {
    name: "Repos",
    components: {
      Issues,
    },
    data() {
      return {
        repos: [],
      };
    },
    mixins: [octokitMixin],
    async mounted() {
      const octokit = this.createOctokitClient();
      const { data: repos } = await octokit.request("/user/repos");
      this.repos = repos;
    },
  };
  </script>