/* 页面整体布局 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body */
body {
    background-color: #fafafa;
    margin: auto;
    max-width: 1080px;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: steelblue;
    /*MDN 上查看上右下左*/
    margin: 30px 0px 2px 0px;
    border:2px solid rgb(125, 26, 218);
    text-align: center;
    padding: 10px;
}

.open {
	display: block;
}

.ul_scroll{
    height: 200px; 
    overflow: auto;
}

.closed {
	display: none;
}
    
li {
	list-style-type: none;
	padding-top: .2em;
	padding-bottom: .2em;
}
        
li img {
	vertical-align: middle;
}


.flex_col_3c{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
}

.one{
    order: -1;
    height: 70%;
    margin-right: 3px; 
    margin-bottom: 3px;
    width: 300px;
    background: #A1EB88;
}

.three {
    order : -1;
    height: calc(30% - 3px);
    margin-right: 3px;
    width: 300px;
    background: #F7F467;
}

.two {
    box-sizing: border-box;
    height: 100%;/* equals height:100%; it will fill entire height */
    width: 777px;
    background: #E7AAF6;
}

.clickable_tab_zed {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    margin-bottom: 2px;
}

.zed_item{
    display: flex;
    width : 100px;
    height : 30px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px red;
    justify-content: center;
    align-items: center;
    
}

.clickable_tab_nav{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-bottom: -5px;
}

.zed_nav_tab{
    display: block;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    width: 5em;
    border: 1px solid rgba(0,33,71,.9);
    text-align: center;
}

.zed_nav_tab2{
    display: block;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    width: 5em;
    border: 1px solid red;
    text-align: center;
}

.zed_nav_tab > a{
    color : steelblue;
    text-decoration: none;
}

.zed_nav_tab > a:active{
    color : red;
    text-decoration: none;
}

.douban_statics,
.flex_row_2c_essence{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.essence_1{
    width : 30%;
    height: fit-content;
    border-radius: 2px;
    box-shadow: 0 0 0 1px red;
    margin-right: 3px;

}

.essence_2{
    width : calc(70% - 3px);
    height: fit-content;
    border-radius: 2px;
    box-shadow: 0 0 0 1px red;
}

.content {
    color: #242424;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 8%);
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    justify-content: space-around;
}

.group_topic_container {
    color: #242424;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 8%);
    font-weight: 600;
    text-align: center;
    box-sizing: border-box; /*why it named border-box, is there margin-box, padding-box*/
    padding: 10px;
    justify-content: space-around;
}


.HeaderHTML {
    font-family: Playfair Display,Georgia,Times New Roman,serif;;
    padding: 15px 15px 2px;
    text-align: left;
}

.HeaderHTML h1{
    font-size: 20.8px;
}

#demoFont { 
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

table.minimalistBlack {
    border: 1px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 13px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

table.minimalistBlack tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}

table.minimalistBlack tfoot td {
    font-size: 14px;
}

/* 头像 */
.avatar {
    width: 40px;
}

/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

/*d3 element*/
.tick line {
    stroke: #dedede;
}

.tick text {
    fill: #565656;
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.d3_title {
    font-size: 3em;
    font-family: sans-serif;
    fill : #C0C0BB;
}

.d3_axis_label{
    font-size: 1.5em;
    fill: rgba(0,33,71,.9);
}

#calendar {
    width: 600px;
    height: 400px;
    border-collapse: collapse;
}

#calendar tbody td {
    border: 1px solid black;
    text-align: right;
    vertical-align: top;
    width: 14%;
}
  
#calendar td.empty {
    border: none;
}

