/* @import url(https://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b); */

html {
  min-width: 1000px !important;
}

select {
  background-color: transparent !important;
  font-family: Arial, Helvetica, sans-serif;
  border: 1.5px solid#1b0180;
  color: #1b0180;
  font-size: 12px;
  border-radius: 10px;
  width: 150px;
  margin-top: 0px;
  padding: .10rem .35rem;
}

header,
footer,
aside,
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
header,
footer {
  color: #000;
}

svg{
  border: 1.5px solid #1b0180;
  padding: .15rem .5rem;
  border-radius: 5px;
}


body aside{
  border: 1.5px solid #1b0180;
  padding: .15rem .5rem;
  border-radius: 5px;
  margin-right: 102px;
}

.text-anchor-start {
  color: #1b0180 !important;
}

.title {
  font-size: 25px !important;
  font-weight: 100 !important;
  color: #1b0180;
  text-align: center;
  margin: .3em 0 1em 0 !important;
}

header,
footer {
  font-size: small;
}

header aside,
footer aside {
  float: left;
  margin-right: .5em;
}

header aside:after,
footer aside:after {
  padding-left: .5em;
  content: "/";
}


h1 ~ aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 200px !important;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

ul {
  padding: 0;
}


a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

code {
  line-height: 1em;
}

#data{
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc !important;
  padding-left: 18px !important;
  margin: 2em 0 2em -20px !important;
}

svg {
  font: 9px sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

g.row  rect,
g.column rect {
  stroke: #fdf6ee;
  stroke-width: 0px;
}

g.row  rect:hover,
g.column rect:hover {
  fill: #fc0217 !important;
  stroke-width: 1px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.background {
  fill: #eee;
}

line {
  stroke: #fdf6ee;
}

text.active {
  fill: red;
}

#tooltip {
  position: absolute;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  font-size: 10px;
  text-align: left;
  background: #ffffff;
  pointer-events: cursor;
  line-height: 200%;
  max-width: 500px;
  opacity: 0;
  z-index: 999;
  border-radius: 10px;
  border: 1px inset #1b0180;
}

#tip-header {
	text-align: center;
	padding: 5px 10px;
  color: #1b0180;
	font-weight: 20;
	margin: 0;
}

#tip-header h1 {
    font-size: 12px !important;
      padding: 0 !important;
      margin: 0 !important;
}

#tip-header p {
    margin: 0;
    color: #000000;
    text-align: right;
}

/*--------Footer--------*/
footer:before {
	display: block;
	width: 30px;
	height: 5px;
	margin: 30px auto 25px auto;
}

#landing-footer,
#landing-footer p,
#landing-footer a {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #999;
  text-align: center !important;
}

footer:before {
	background: #0d0344;
}