{% extends 'base.html' %}
{% block main %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/d3_renders.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/axios.js')}}"></script>

<div id="calendar-heatmap" class="group_topic_container">
</div>


<div class="flex_row_2c_essence">
  <div class="essence_1">
    <div  id="sec2">
      <div class="HeaderHTML">
        <h1>Top active users</h1>

        <ul class="open ul_scroll">
          {% for name2 in names0 %}
            <li id='{{name2}}'><a onclick="toggle('{{name2}}');"><img src="{{url_for('static', filename='fig/closed.gif')}}" alt="" id="img_{{name2}}" border="0"></a>{{name2}}
                <ul id="ul_{{name2}}" class="closed">
                </ul>
              
            </li>
          {% endfor %}
        </ul>

        <div class="clickable_tab_zed">
          <div class="zed_item">折线图</div>
          <div class="zed_item">日历热力图</div>
        </div>
      </div>
    </div>
  </div>
  <div class="essence_2">
    <div class="content">
      <div id="line_chart"></div>
      <div id="calendar-heatmap2"></div>
    </div>
  </div>
</div>


<script>
  const width = 1080, height = 180, cellSize = 17;
  var class_name = '#calendar-heatmap';
  const width2 = 720, height2 = 135, cellSize2 = 13;
  var class_name2 = '#calendar-heatmap2';

  var generate_svg = (class_name, width, height, cellSize) => 
      d3.select(class_name)
      .selectAll("svg")
      .data(d3.range(2020, 2022))
      .enter().append("svg")
      .attr("width", width)
      .attr("height", height);

  function user_expansion (name)　{
    data = axios.post('/v1/user_expansion', {name: name})
        .then((response)=>{
          arr = response.data;
          data = '';
          for (let i = 0; i < arr.length; ++i) {
            data += "<li class='called'>" + arr[i] + "</li>";
          }
          // console.table(data);
          return data;
        })
        .catch(function (error) {
          console.log(error);
        });
    return data;
  }                                      

  var cal = (name) => axios
    .post('/v1/group_topic', {name: name})
    .then((response) => {
      data = response.data;
      console.log("cal func " + data);
      svg = generate_svg(class_name, width, height, cellSize);
      calendar_render(data, name, svg, width, height, cellSize);
    })
    .catch(function (error) {
      console.log(error);
    });

  var parsef = function (d) {
    d.date = d3.timeParse("%Y-%m-%d")(d.date);
    d.value = +d.value;
    return d;
  }

  var render_x = (name1, name2) => {
    axios.post('/v1/user', {
      name1: name1,
      name2: name2
    })
    .then(function (response) {
      if (signal == 2) {
        svg2 = generate_svg(class_name2, width2, height2, cellSize2);
        calendar_render(response.data, name2, svg2, width2, height2, cellSize2);
        console.log("大图数据" +response.data);
      }
      if (signal == 1) {
        data1 = response.data;
        data2 = data1.map(parsef);
        var svg1 = d3.select('#line_chart').append('svg').attr('width', 720).attr('height', 500),
            margin = { top: 70, right: 50, bottom: 50, left: 60 };
        label = { title: `Activity of [${name2}]`, x_label: "date", y_label: "Times" };
        line_render([data2], svg1, margin, label);
      }
    })
    .catch(function (error) {
      console.log(error);
    });
  }
</script>


<script>
  var signal = 1;
  $('.zed_item').click(function () {
    $(this).siblings().css({'color': '#000'});
    $(this).css('color', 'red');
    if ($(this).text() == '日历热力图') {
      signal = 2;
    }
    if ($(this).text() == '折线图') {
      signal = 1;
    }
  });

  // 页面首次初步渲染
  cal('吾爱');
  $(".zed_item:contains('折线图')").click();
  render_x('吾爱', 'PI');

  // 用户点击动作让１号热力图发生变化
  function toggle(id){
    ul = "ul_" + id;
    img = "img_" + id;
    
    ulElement = document.getElementById(ul);
    imgElement = document.getElementById(img);
    if (ulElement){
      if (ulElement.className == 'closed'){
        ulElement.className = "open";
        imgElement.src = "{{url_for('static', filename='fig/opened.gif')}}";
        d3.selectAll("#calendar-heatmap > *").remove();
        console.log("渲染大图： " +id);
        cal(id);
        user_expansion(id).then(data=>{
          ulElement.innerHTML+= data; 
          // console.table(data);
          return ulElement;
        })
        .catch(function (error) {
            console.log(error);
        });
        return ulElement;
      }
      else{
        ulElement.className = "closed";
        imgElement.src = "{{url_for('static', filename='fig/closed.gif')}}";
      }
    }
  }
  // 用户点击动作带来的变化
  $(document).on('click','ul > li> ul> li',function(){
    $(this).siblings().css({'color': '#000'});
      $(this).css('color', 'red')
      d3.selectAll("#line_chart > *, #calendar-heatmap2 > *").remove();
      name1 = $(this).parent().parent().attr('id');
      name2 = this.innerText;
      render_x(name1, name2);
  });

</script>
{% endblock %}