{% extends 'base.html' %}
{% block main %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/d3_renders.js')}}"></script>


<div id="stacked_chart">
    <svg width="1080" height="500"></svg>
</div>


<script>
    var svg = d3.select('#stacked_chart').select('svg'),
        margin = { top: 70, right: 50, bottom: 120, left: 80 };
    var data = JSON.parse('{{ data|safe }}');
    var groups = JSON.parse('{{ groups|safe }}');
    var subgroups = JSON.parse('{{ subgroups|safe }}');

    stacked_render(svg, margin, data, groups, subgroups);
</script>

{% endblock %}