{% extends 'base.html' %}
{% block main %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/d3_renders.js')}}"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://unpkg.com/set-interval-async"></script>

<div id="sec2" >
    <svg width="1080" height="500"></svg>
</div>


<div id="sec3">
    <svg width="1080" height="500"></svg>
</div>

<div id="sec1" >
    <svg width="1080" height="500"></svg>
</div>

<script>
    var parsef = function (d) {
            d.date = d3.timeParse("%Y-%m-%d")(d.date);
            d.value = +d.value;
            return d;
    }


    var parsef2 = function (d) {
            d.date = d3.timeParse("%Y-%m-%d %H:%M:%S")(d.datetime);
            d.value = +d.cpu;
            return d;
    }

    function randomIntFromInterval(min, max) { // min and max included
        return Math.floor(Math.random() * (max - min + 1) + min)
    }

    var parsef2_1 = (data) =>{
        var res = new Array();
        for (d of data){
            obj = {date: d.date, value: d.value +10 }
            res.push(obj);
        }
        return res;
    }

    var parsef3 = function (d) {
            d.date = d3.timeParse("%Y-%m-%d %H:%M:%S")(d.datetime);
            d.value = +d.memory;
            return d;
    }

    var svg1 = d3.select('#sec1').select("svg");
        margin = { top: 70, right: 50, bottom: 50, left: 60 };
    var data = JSON.parse('{{ data|safe }}');
    data = data.map(parsef);
    var label = {title: "Stock price", x_label: "Year", y_label: "Price ($)"};
    line_render([data], svg1, margin, label);

    var label2 = {title: "cpu percent", x_label: "cpu usage", y_label: "%"};
    var label3 = {title: "memory percent", x_label: "memory usage", y_label: "%"};
    // A better and cleaner way of handling promises is through the async/await keywords.
    // setinterval async function https://www.npmjs.com/package/set-interval-async
    var svg2 = d3.select('#sec2').select("svg");
    var svg3 = d3.select('#sec3').select("svg");

    var legend2 = construct_stable_part(svg2, margin, label2);
    var legend3 = construct_stable_part(svg3, margin, label3);
    var width = legend2.width, height = legend2.height;
    axios.get(`/v1/psutil_info`)
        .then((resp)=>{
            data = resp.data;
            data2 = data.map(parsef2);
            var x = legend2.x, y = legend2.y, g = legend2.g;

            construct_vary_part(width, height, x, y, g, [data2]);

            data3 =  data.map(parsef3);
            var x = legend3.x, y = legend3.y, g = legend3.g;
            construct_vary_part(width, height, x, y, g, [data3]);
        })
        .catch((error) => {console.log(error);});

    const zed = async()=>{
        const resp = await axios.get(`/v1/psutil_info`);
        // 验证视觉上的不自然，是数据请求过长导致的，可以把清理svg的元素放在请求数据前面
        d3.selectAll("#sec2 > svg > g > path, #sec3 > svg > g > path").remove();
        d3.selectAll("#sec2 > svg > g > .focus, #sec3 > svg > g > .focus").remove();
        d3.selectAll("#sec2 > svg > g > rect, #sec3 > svg > g > rect").remove();
        data = resp.data;
        console.log("🖼");
        // https://stackoverflow.com/questions/35922429/why-does-a-js-map-on-an-array-modify-the-original-array
        const data2 = data.map(parsef2);
        const data2_1 = parsef2_1(data);
        var x = legend2.x, y = legend2.y, g = legend2.g;
        console.log("xxxxxx", data2[0].value, data2_1[0].value);
        construct_vary_part(width, height, x, y, g, [data2, data2_1]);

        data3 =  data.map(parsef3);
        var x = legend3.x, y = legend3.y, g = legend3.g;
        construct_vary_part(width, height, x, y, g, [data3]);
    };

    // 定时的图里去更新变化的部分
    var setIntervalAsync = SetIntervalAsync.setIntervalAsync;
    setIntervalAsync(zed, 9000)
</script>
{% endblock %}