{% extends 'base.html' %}
{% block main %}
<script src="https://cdn.jsdelivr.net/npm/vega@4.4.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3.28.0"></script>


<div class="flex_col_3c">
  <div class="one">
    <div class="content" id="sec2">
      <div class="HeaderHTML">
        <h1>Top active users</h1>
      </div>
    </div>
  </div>
  <div class="three">
    <div class="content"> placeholder
      <div class="clickable_tab_zed">
        <div class="zed_item">折线图</div>
        <div class="zed_item">日历热力图</div>
      </div>
    </div>

  </div>
  <div class="two">
    <div id="vis" ></div>

  </div>
</div>

<script>
    vegaEmbed('#vis', valSpecification1, { renderer: "svg" });
</script>

<script>
  $('.zed_item').click(function () {
    $(this).siblings().css({'color': '#000'});
    $(this).css('color', 'red');
  });
</script>

{% endblock %}