{% extends 'base.html' %}
{% block main %}

<link href="/static/css/styles_2.css" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static', filename='js/d3/d3.js')}}"></script>

  <!-- Title -->
  <h1 class="title"></h1>

  <!-- Colonne de cote -->
  <aside style="margin-top:10px; margin-right:180px;">

    <p>Order by 
      <p>
        <select id="order">
          <option value="name">Characters Name</option>
          <option value="group">Color</option>
        </select>
      </p>
    </p>
    <p>More information: <a href="https://observablehq.com/@bstaats/matrix-diagram"> observablehq</a>.</p>
    <p id="group"></p>
  </aside>

  <script src="/static/js/matrix.js"></script>
  <p class="attribution">Inspired by: <a href="https://bost.ocks.org/mike/miserables/">Mike Bostock</a>.</p>

  <!-- Tooltip information -->
  <div id="tooltip">
    <div id="tip-header">
      <h1></h1>
      <p></p>
    </div>
  </div>
{% endblock %}