{% extends 'base.html' %}
{% block main %}

<div id="app">
    <p>➜ {{ message }} 🫖🫖🫖</p>
    <p>➜ [[ message2]] </p>
    <p>➜ [[ message3]] </p>
    <p>➜ [[ message4]] </p>
</div>

<!-- https://stackoverflow.com/questions/70902863/whats-script-type-importmap-used-for -->
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
      "vue2": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<script type="module">
import { createApp } from 'vue2';

createApp({
  delimiters: ['[[', ']]'],
  data: () => {
    return {
      message2: "🌇",
      message3: "🎄",
      message4: "🦕"
    }
  }
}).mount('#app')
</script>
{% endblock %}
